.daily-forecast {
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "space-evenly";
  gap: 20px;
}

.daily-box {
  display: "flex";
  margin-top: 20px;
  justify-content: "space-evenly";
  padding: 20px;
}

.card{
display: flex;
margin-top: 20px;
justify-content: space-evenly;
padding:20px;
}